<app-header class="sticky top-0 z-50"></app-header>
<div class="flex justify-center">
  <div class="wrapper flex flex-col">
    <div *ngIf="cards.length>0">
      <app-task-card *ngFor="let card of cards" [item]="card"></app-task-card>
    </div>
    <div *ngIf="cards.length==0" class="flex flex-row justify-between bg-white rounded-[25px] p-6 w-[1000px] mt-8 shadow-lg">
      <h1>No Tasks Added yet, please click on the <b class="text-xl">+</b> button to add new Task</h1>
    </div>
  </div>
</div>
<div class="flex mx-auto w-[1000px] justify-end m-4 p-4">
  <button class="bg-[#5056ED] text-white w-10 h-10 ml-8 rounded-full" (click)=showPopupForm()><b class="text-xl">+</b></button>
</div>


<div class="overlay top-0 left-0 fixed w-full h-full flex justify-center items-center backdrop-brightness-75"
  (click)="closeOverlay($event)" *ngIf="showPopup">
  <div class=" bg-white rounded-[25px] w-1/2 p-6">
    <div class="flex flex-col">
      <label for="task-name" class="font-bold">Enter the Task Name</label>
      <input required [(ngModel)]="taskTitle" id="task-name" #name="ngModel" name="task-name" type="text" class="form-control h-[40px] px-2 my-2 border-2 border-gray-300 rounded-lg"/>
      <h1 *ngIf="name.touched && name.invalid" class="text-sm text-red-500 mx-2">Name is required</h1>
      <button [disabled]="name.invalid" class="bg-[#5056ED] text-white h-[40px] w-fit py-2 px-8 my-4 rounded-[25px] disabled:cursor-not-allowed" (click)="addTask()">Save</button>
    </div>
  </div>
</div>